@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}

@mixin flex() {
  display: flex;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
}

@mixin flexwrap() {
  flex-wrap: wrap;
}

@mixin input-dropshadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

@mixin image-dropshadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
}

@mixin button($bg-color, $font-color, $hover-color, $hover-font-color) {
  background-color: $bg-color;
  border: 0;
  color: $font-color;

  &:hover,
  &:focus {
    background-color: $hover-color;
    color: $hover-font-color;
    text-decoration: none;
  }
}

@mixin unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin clearfix {
  &:after,
  &:before {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin display-flex-start {
  display: flex;
  justify-content: flex-start;
}

@mixin display-flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin display-flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin display-flex-center {
  display: flex;
  justify-content: center;
}

@mixin display-flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin from-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin custom-breakpoint ($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}