$font-weight-light: 300;
$font-weight-normal: 400;

// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base: 4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #f9ce00 !default;
$brand-secondary: #ffe9e3 !default;

$brand-white: #fff;
$brand-black: #000;
$brand-gray: #333;
$brand-lighter: #727272;
$brand-selection-color: #b7c2c2;
$brand-body-color: #fcfcfc;
$brand-body-bg: #f9f7f7;

$input-border-focus: $brand-primary !default;
$form-group-margin-bottom: 30px !default;
